<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #app {
            width: 600px;
            margin: 10px auto;
        }

        .tb {
            border-collapse: collapse;
            width: 100%;
        }

        .tb th {
            background-color: #0094ff;
            color: white;
        }

        .tb td,
        .tb th {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }

        .add {
            padding: 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="add">
            品牌名称:
            <input v-focus type="text" v-model.trim='brandName'>
            <input type="button" value="添加" @click="handleAdd">
        </div>

        <div class="add">
            品牌名称:
            <input type="text" placeholder="请输入搜索条件" v-model="searchKey">
        </div>

        <div>
            <table class="tb">
                <tr>
                    <th>编号</th>
                    <th>品牌名称</th>
                    <th>创立时间</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(item,index) in brandList">
                    <td c-cloak>{{index+1}}</td>
                    <td c-cloak>{{item.name}}</td>
                    <td c-cloak>{{item.time | timeFmt('YYYY-MM-DD')}}</td>
                    <td>
                        <a href="#" @click.prevent="handleDel(item.id)">删除</a>
                    </td>
                </tr>
                <tr v-if="brandList.length === 0">
                    <td colspan="4">没有品牌数据</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src="../lib/axios.js"></script>
<script src="../lib/vue.js"></script>
<script src="../lib/moment.js"></script>
<script>
    Vue.filter('timeFmt', (value, fmt) => {
        return moment(value).format(fmt);
    })
    Vue.directive('focus', {
        inserted(el) {
            el.focus();
        }
    })
    new Vue({
        el: '#app',
        data: {
            brandName: '',
            searchKey: '',
            brandList: [],
        },
        methods: {
            loadList() {
                axios.get('http://localhost:3000/brands')
                    .then(res => {
                        if (res.status === 200) {
                            this.brandList = res.data
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            handleAdd() {
                if (this.brandName.length === 0) {
                    return;
                }
                axios.post('http://localhost:3000/brands', {
                    name: this.brandName,
                    date: new Date()
                }).then(res => {
                    if (res.status === 201) {
                        this.loadList();
                        this.brandName = '';
                        alert('添加成功');
                    }
                }).catch(err => {
                    console.log(err)
                })
            },
            handleDel(index) {
                if (!confirm("您确认要删除吗？")) {
                    return
                }
                axios.delete(`http://localhost:3000/brands/${index}`)
                    .then(res => {
                        if (res.status === 200) {
                            this.loadList();
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        },
        watch:{
            searchKey(newV,oldV){
                axios.get('http://localhost:3000/brands',{
                    params:{
                        name_like:newV
                    }
                }).then(res=>{
                    if(res.status===200){
                        this.brandList=res.data
                    }
                }).catch(err=>{
                    console.log(err)
                })
            }
        },
        mounted() {
            this.loadList();
        }
    })
</script>

</html>